

@media (min-width: 1024px) {
	.card:nth-child(1) {
		max-width: 333px;
		width: 100%;
	}
	.card:nth-child(2) {
		max-width: 448px;
		width: 100%;
	}
	.card:nth-child(3) {
		max-width: 563px;
		width: 100%;
	}
}

@media (max-width:1024px) {
  .card {
    height: 100vh;
  }
}
