@import "tailwindcss";

@keyframes scale {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	100% {
		transform: scale(2);
		opacity: 1;
	}
}
:root {
	--color-black: #000;
	--primary-text-color: #fff;
	--secondary-text-color: #b0b0b0;
	--color-aqua: #00e4f0;
	--color-orange: #ff4c00;

	--gradient-orange: linear-gradient(
		246.99deg,
		#ff4c00 3.34%,
		rgba(0, 0, 0, 0) 75.22%
	);
	--gradient-blue: linear-gradient(
		246.99deg,
		var(--color-aqua) 3.34%,
		rgba(0, 0, 0, 0) 75.22%
	);
	--gradient-mix: linear-gradient(
		68.23deg,
		var(--color-orange) 9.46%,
		#b38bce 52.36%,
		var(--color-aqua) 91.95%
	);
	--radius-blocks: 8px;
	--radius-button-input: 30px;

	--scale-animation: scale 0.9s ease infinite alternate;
}

body {
	background-color: var(--color-black);
}
